
@leftWidth: 400px;
@containerWidth: 960px;

.container {
  position: relative;
  width: @containerWidth;
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;

  .input {
    width: @leftWidth;
    position: fixed;
    padding: 0 10px;
  }

  .messages {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: @leftWidth;

    .message {
      padding: 0 10px;
      border-bottom: 1px solid #ddd;

      &:first-child {
        border-top: 1px solid #ddd;
      }
    }
  }
}

form {

  input[type='submit'] {
    display: none;
  }

  input[type='text'] {
    margin: 15px 0;
    padding: 0;
    background: 0;
    border: 0;
    outline: none;
    color: #393939;
    font-weight: 700;

    width: 90%;
  }
}

#schiff-face {
  position: fixed;
  bottom: -32px;
  right: -75px;
}

.sizing(@container, @sidebar){
  .container {
    width: @container;

    .input {
      width: @sidebar;
    }

    .messages {
      padding-left: @sidebar;
    }
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .sizing(768px, 300px);
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .sizing(480px, 200px);
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .container {
    width: 100%;

    .input {
      position: relative;
      width: 100%;
      padding: 0;
    }

    .messages {
      padding-left: 0;
    }
  }
}
